<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://xmlns.jcp.org/xml/ns/javaee
		http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<display-name>Sample MVC</display-name>

	<!--
		HTMLエスケープデフォルト設定
		※Spring MVCタグのデータ表示時、「<」等をエスケープする
	 -->
	<context-param>
		<param-name>defaultHtmlEscape</param-name>
		<param-value>true</param-value>

	</context-param>

	<!-- DIコンテナ作成リスナのパラメータ -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:/META-INF/spring/beans-biz.xml</param-value>
	</context-param>

	<!-- 
		DIコンテナ作成リスナ
		※Webアプリケーションの起動／シャットダウン時に実行される
	-->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- リクエストをUTF-8にエンコードするフィルタ -->
	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<!-- フィルタのURL指定 -->
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Dispathサーブレットの定義 -->
	<servlet>
		<servlet-name>dispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<!-- コントローラのBean定義ファイルを指定 -->
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:/META-INF/spring/beans-webmvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- サーブレットのURL指定 -->
	<servlet-mapping>
		<servlet-name>dispatcherServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

</web-app>
